nav {
  /* border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%; */
  border-radius: 999em;
  background: #e8e5e4bd;
  margin: 20px;
  padding: 5px;
  position:fixed;
  top:0;
  backdrop-filter: blur(5px);
  z-index: 1;

}

nav a {
  text-decoration: none;
  color: #000000;
  min-width: 80px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.activelink {
  background-color: #fff;
  border-radius: 999em;
}

.aboutme {
  text-align: center;
  margin: 90px 0px;

  h1 {
    font-size: 3rem;
  }
}

.techbox {
  margin: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;

  img {
    width: 100%;
    transition: 0.3s;
  }

  div {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    opacity: 0;
    transition: 0.3s;

    p{
      text-align: justify;
    }
  }
}

.techbox:hover {
  img {
    filter: blur(10px);
  }
  div {
    opacity: 1;
  }
}


footer{
  text-align:center;
}